<!DOCTYPE html>
<html>
<head>
<title>Junior - A front-end framework for building HTML5 mobile
	apps with a native look and feel.</title>

<meta name="viewport"
	content="initial-scale=1 maximum-scale=1 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="/static/css/ratchet.css">
<link rel="stylesheet" href="/static/css/junior.css">

<link rel="stylesheet" href="/static/css/font-awesome.css">
<link rel="stylesheet" href="/static/css/bootstrap.mod.css">
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/modernizr.custom.15848.js"></script>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/zepto.flickable.min.js"></script>
<script src="/static/js/lodash.min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/junior.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
function initialize() {
//	var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var latlng = new google.maps.LatLng(51.441959, 5.476455);
    var settings = {
        zoom: 14,
        center: latlng,
        mapTypeControl: true,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        navigationControl: true,
        navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), settings);

    bakken = {{ bakken|safe }}

    for (i in bakken) {
        var bak = bakken[i];

        var pos = new google.maps.LatLng(bak.lat, bak.lng);
        var marker = new google.maps.Marker({
            position: pos,
            afvalbak: bak['id'],
            map: map,
            icon: 'static/images/' + (bak['type'] == 'Restafval' ? 'vuilniszak' : 'fles') + '.png'
        });

        google.maps.event.addListener(marker, 'click', function() {
            Jr.Navigator.navigate('kiesmelding',{
    	      trigger: true,
    	      animation: {
    	        type: Jr.Navigator.animations.SLIDE_STACK,
    	        direction: Jr.Navigator.directions.LEFT
    	      }
    	    });
        });

    }

    if (navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(showPosition);
    }

    function showPosition(position)
    {
        map.panTo(new google.maps.LatLng(position.coords.latitude, position.coords.longitude))
        map.setZoom(18);
    }
}
</script>
<style>
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#fileInput {
	position: absolute;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity = 0);
	font-size: 150px;
}
.carousel-item {
  height:800px;

}
.carousel-item.native-look-and-feel{
  padding:0px;
}
.carousel-item.native-look-and-feel {
   background-image: none;
}
.carousel-navigation li {
  background: black;
}
#page1 .content {
	height:546px
}
.debug {
  display:none;
}
</style>


</head>
<body onload="initialize()" style="min-height: 100%">


	<div id="iphone-image"></div>
	<div id="iphone-window">
		<div id="app-container">
			<div id="app-main"></div>
		</div>
	</div>

	<div class="debug">

		<div id="iphone-window" style="left: 0%">
			<div class="content" id="kaart" style="overflow:hidden">
                <div id="map_canvas" style="height:100%; width: 100%;"></div>
			</div>
		</div>

		<div id="iphone-window" style="left: 20%">
			<div class="content" id="kiesmelding">
				<header class="bar-title">
					<div class="header-animated">
						<div class="button-prev">Terug</div>
						<h1 class="title">Kies type melding</h1>
					</div>
				</header>
				<div class="content pushstate-content">

					<div class="button-positive button-block show-more-button">Doet
						het niet</div>
					<div class="button-positive button-block show-more-button">Zit
						vol</div>
					<div class="button-positive button-block show-more-button">Schade</div>

					<p id="demo" ></p>
					<div id="mapholder" class="mapholder"></div>
				</div>
			</div>
		</div>



		<div id="iphone-window" style="left: 40%">
			<div class="content" id="page3">

				<header class="bar-title">
					<div class="header-animated">
						<div class="button-prev">Terug</div>
						<h1 class="title">Glas container vol</h1>
					</div>
				</header>
				<div class="content pushstate-content" style="overflow: hidden">
					<p>Wil je op de hoogte gehouden worden van deze melding?</p>
					<input type="file" id="fileInput" accept="image/*"> <img
						src="docs/images/camera.png" width="150" height="150">

					<div class="button-positive button-block show-more-button">Verstuur
						foto</div>

				</div>
			</div>
		</div>

	</div>
	<script src="/static/js/example.js"></script>

</body>
</html>
